asgiref==3.2.7
certifi==2020.4.5.1
Django==3.0.7
djangorestframework==3.11.0
jedi==0.15.2
pluggy==0.13.1
psycopg2-binary==2.8.5
pyflakes==2.1.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.8
pytz==2020.1
sqlparse==0.3.1
wincertstore==0.2
